# Environment
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.bavenv

# Data & models
data/raw/*
data/processed/embeddings/
data/processed/features/
models/*
*.npy
*.pt
*.pkl
*.pth

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

#claude
CLAUDE.md

#zip files
*.zip